@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind layer */
@layer base {
  html {
    font-family: 'Pretendard Variable', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  /* 배경 그라데이션 */
  .bg-gradient {
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%),
      radial-gradient(201% 99.45% at -20.81% 68.19%, #90212a 0%, #dcdbe8 70.67%), #fff;
  }
}
