@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
  }
  html {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #f8f8f8;
  }
  body {
    overflow-x: hidden;
  }
  body {
    -ms-overflow-style: none;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
  input {
    border: none;
    :focus {
      outline: none;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    outline: none;
  }
  a:hover,
  a:active {
    text-decoration: none;
  }
  img {
    max-width: none;
  }
}

/* Brand and UI color palette */
:root {
  --primary: #90212a;
  --gray-1: #f3f3f6;
  --gray-2: #ecedef;
  --gray-3: #dbdde1;
  --gray-4: #c5c8cf;
  --gray-5: #9fa2aa;
  --gray-6: #80818b;
  --gray-7: #585a68;
  --gray-8: #35353f;
}

@layer components {
  /* 배경 그라데이션 */
  .bg-gradient {
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%),
      radial-gradient(201% 99.45% at -20.81% 68.19%, #90212a 0%, #dcdbe8 70.67%), #fff;
  }
  /* 버튼 shadow */
  .button-shadow {
    box-shadow:
      0px 4px 10px 0px rgba(0, 0, 0, 0.05),
      1px 3px 20px 0px rgba(0, 0, 0, 0.1),
      0.318px 0.318px 0.955px 0px #fff inset;
  }
}
